/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a38a00;
  --ifm-font-color-base: #000;
  --ifm-footer-background-color: #1C1C1C;
  --ifm-footer-color: #fff;
  --ifm-footer-link-color: #fff;
  --ifm-footer-title-color: #fff;
  --ifm-footer-color-base-inverse: #fff;
}

.hero {
    background-color: #fff;
    color: #000;
}

.footer__link-item:hover {
    color: #FFD700;
}